    body{
        font:20px arial ,sans-serif ;
    }
    .navbar{
        background-color:rgb(1, 1, 71) ;
        font-family: monospace;
    }
    
    .FOTOS{
        background-color: rgb(126, 147, 241);
        padding-bottom:"20px";
        color:rgb(5, 14, 54);
        font-family: inherit;

    }
    
    .NUMERO{
        background-color:rgb(119, 230, 119);
        padding-bottom:"20px";
        color:rgb(5, 14, 54);
    }

    .ENDEREÇO{
        background-color:rgb(110, 216, 198);
        padding-bottom:"20px";
        color:rgb(5, 14, 54);
    }

    .EMAIL{
        background-color: rgb(84, 59, 129);
        padding-bottom:"20px";
        color:rgb(142, 233, 139);
    }